<template name="ecology">
    <h3>Ecology of nalsarovar</h3>

    <p>Nalsarovar has achieved fame as bird-heaven and the status of “bird sanctuary” mainly due to high bird diversity
        and abundance that it supports, especially in winter season. Considering the confirmed waterbird records
        available in some authentic bird checklists (GEER 1998, Pandit et al. 2001), a total of 222 species of birds
        have been recorded at Nalsarovar, of these, 122 species (57%) have been water bird species. From the 122 water
        bird species, 60 are migratory, 42 species are resident and 20 species are resident- migratory for the Indian
        Subcontinent. Of the various species recorded, maximum species are of shorebirds/small waders followed by large
        waders and Anatids.</p>

    <p>The Globally threatened/Near Threatened birds recorded at Nalsarovar include Dalmatian Pelican(VU), Indian Sarus
        Crane (VU), Greater Spotted Eagle(VU), Black-tailed Godwit(NT), Lesser Flamingo (NT), Painted Stork(NT),
        Oriental White Ibis (NT), Oriental Darter (NT) and White-eyed/Ferrugineous Pochard (NT). Besides these Globally
        Threatened/Near Threatened water birds, birds like Osprey and Eurasian Spoonbill that are recorded at Nalsarovar
        are Schedule 1 species as per Wildlife (Protection) Act, 1972.</p>

    <p>Water bird censuses have been conducted by Gujarat State Forest Department since 1992, usually at the interval of
        2 years. The abundance of water birds (i.e., overall population estimates for water birds) as per the surveys
        for different years indicates that highest water bird population (2,53,254 birds) was recorded in the year
        2008.</p>
    <br>
    <h4>Waterbird Habitat Diversity:</h4>

    <p>One of the major reasons for Nalsarovar having high bird species richness and abundance is good diversity of
        habitat components. A doctoral research conducted by the first author at Space Applications Center (ISRO) had
        shown that following habitat components occur in Nalsarovar wetland: Open Water with High Turbidity.</p>

    <p>Open Water with Moderate Turbidity, Open Water with Very Low Turbidity, Emergent Aquatic Vegetation,
        Barren/Sparsely Vegetated Islet, Shoreland with Herbaceous Cover, Shoreland with Salt-Encr ustation, Shoreland
        with Waterlogged Areas, Barren Shoreland. In addition, the immediate environs have agricultural land and it also
        provide foraging opportunity to birds like cranes, ducks and some shorebirds. It may be noted that Open Water
        (OW) Habitat and Emergent Aquatic Vegetation have been the main habitat components in the Nal wetland. Open
        Water provides the foraging and loafing areas for swimming/diving water birds (like ducks, pelican s, grebes,
        coots etc.), large waders like flamingos and aerial hunters like terns, gulls and some wetland dependent raptors
        (e.g., Aquila eagles). Emergent Aquatic Vegetation has been providing foraging area and/or cover for the
        marsh-dwelling water birds like bitterns, rails, crakes, waterhens, swamphen and moorhens.</p>
    {{> contentFor region="footer" template=""}}
    {{> contentFor region="control-footer" template=""}}
</template>