<template name="BirdsTerminology">
    <h2>Plumage Terminology</h2>
    The figures below illustrate the main plumage tracts and bare-part features. This terminology for bird topography
    has been used in the species texts. Other terms have been used and are defined in the glossary juvenile plumage is
    the first plumage on fledging and in many species it is looser, fluffier than subsequent plumage. In some families
    juvenile plumage is retained only briefly after leaving the nest (e.g. pigeons) or hardly differs from adult plumage
    (e.g. many babblers) while in other groups it may be retained for the duration of long migrations or for many months
    (e.g. many waders). In some species (e.g. Aquila eagles) it may be several years before all juvenile feathers are
    finally moulted. The relevance of the juvenile plumage to field identification therefore varies considerably. Some
    species reach adult plumage after their first post- juvenile moult (e.g. larks), whereas others go through a series
    of immature plumage. The term ‘immature' has been employed more generally to denote plumages other than adult, and
    is used either where a more exact terminology has not been possible or where more precision would give rise to
    unnecessary complexity. Terms such as ‘first-winter' (resulting from a partial moult from juvenile plumage) or
    ‘first-summer' (plumage acquired prior to the breeding season of the year after hatching) have however been used
    where it was felt that this would be useful. Many species assume a more colourful breeding plumage which is often
    more striking In the male than in the female. This either can be realised through a partial (or in some species
    complete) body moult (e.g. waders) or results from the wearing away of pale or dark feather fringes (e.g. redstarts
    and buntings).
    <img src="/images/terminology-1.png">
    <img src="/images/terminology-2.png">
    {{> contentFor region="footer" template=""}}
    {{> contentFor region="control-footer" template=""}}
</template>