<template name="BirdDetails">
    <div id="information-nav">
        {{#each navigationLinks}}
            <div><a>{{this}}</a></div>
        {{/each}}
    </div>
    <div id="information">
        {{#with data}}
            <h2>{{name}}</h2>

            <h4>{{title}}</h4>

            {{info}}
        {{/with}}
    </div>
    {{> contentFor region="footer" template="BirdsControl"}}
    {{> contentFor region="control-footer" template="BirdControlFooter"}}
</template>

<template name="BirdsControl">
    <ul class="enlarge">
        {{#each birds}}
            <li>
                <img src="{{image}}" width="70px"/>
                <span>
                    <img src="{{image}}" width="100px"/>
                </span>
            </li>
        {{/each}}
    </ul>
</template>

<template name="BirdControlFooter">
    <img src="/images/controls/sound.png" id="sound-trigger" width="40px">
    <img src="/images/controls/gallery.png" id="gallery-trigger" width="40px">
    <img src="/images/controls/globe.png" id="map-trigger" width="40px">
</template>