<template name="BirdDetails">
    <div id="information-nav">
        {{#each navigationLinks}}
            <div class="button"><a>{{this}}</a></div>
        {{/each}}
    </div>
    <div id="information">
        {{#with data}}
            <h2>{{name}}</h2>

            <h4>{{title}}</h4>

            {{info}}
        {{/with}}
    </div>
    {{> contentFor region="footer" template="BirdsControl"}}
    {{> contentFor region="control-footer" template="BirdControlFooter"}}
</template>

<template name="BirdsControl">
    <div class="bird-list">
        {{#each birds}}
            <div>
                <div>
                    <img src="{{image}}">
                    <div class="overlay"></div>
                </div>
                <span><img src="{{image}}"></span>
            </div>
        {{/each}}
    </div>
</template>

<template name="BirdControlFooter">
    <img src="/images/controls/sound.png" id="sound-trigger">
    <img src="/images/controls/gallery.png" id="gallery-trigger">
    <img src="/images/controls/globe.png" id="map-trigger">
</template>