@import "helpers.less";

.bird-list {
  width: 474px;
  position: absolute;
  bottom: 110px;
  left: -35px;
  .slick-track{
    height: 145px
  }
  .slick-list.draggable{
    padding: 0 25px;
  }
  div.slick-slide {
    position: relative;
    > div{
      cursor: pointer;
      *{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
      img{
        .vendor(box-shadow, 0 0 5px rgba(132, 132, 132, .75));
      }
      .overlay{
        height: 53px;
        background-color: black;
        opacity: 0.4;
      }
      &:hover + span{
        opacity: 1;
      }
    }
    &:not(.slick-active){
      visibility: hidden;
    }
    span{
      position: absolute;
      opacity: 0;
      .vendor(transition, opacity 500ms ease);
      left: -15px;
      top: 10px;
      .vendor(box-shadow, 0 0 20px rgba(0, 0, 0, .75));
      img{
        width: 100px;
      }
    }
    margin: 5px;
    .vendor(transition, all 200ms ease);
    &.active {
      .vendor(transform, translateY(-10px) scale(1.08));
      img{
        opacity: 1;
      }
      .overlay{
        opacity: 0;
      }
    }
    &:focus{
      outline: none;
    }
  }
}

.navbar {
  height: 100%;
  ul {
    float: none
  }
  li {
    float: none;
    a {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}

#information {
  width: 96%;
  margin: 0 auto;
  h4 {
    color: #333;
  }
  ul {
    padding-left: 20px;
  }
}

#information-nav {
  text-align: center;
  margin-bottom: 10px;
  div {
    width: 32%;
    display: inline-block;
    a {
      color: @secondary-color;
      &:hover {
        text-decoration: none;
      }
    }
    &.active {
      background: #ddd;
    }
  }
}