<template name="Map">
    <style>
        #content {
            width: 840px !important;
            left: -380px;
            text-align: center;
            top: 90px;
            height: 534px !important;
        }

        #trigger-content {
            margin-top: 50px !important;
        }

        .bird-list {
            left: 290px;
            z-index: 1;
            bottom: 30px;
        }
    </style>
    <div id="map">
        <img src="/images/map-images/world-map.png">
        <img src="/images/map-images/{{current_bird}}.png" id="migration-path">
    </div>
    {{> contentFor region="footer" template="BirdsControl"}}
</template>