<template name="StateBird">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>State</th>
            <th>Bird</th>
        </tr>
        </thead>
        <tbody>
        {{#each data}}
            <tr>
                <td>{{name}}</td>
                <td>
                    {{#if hasBird}}
                        <a class="bird-link">{{bird}}</a>
                    {{else}}
                        {{bird}}
                    {{/if}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    {{> contentFor region="footer" template=""}}
    {{> contentFor region="control-footer" template=""}}
</template>