<template name="Home">
    <p>The convention on wetlands came into force for India on 1 February, 1982. Presently India has 26 sites designated
        as Wetlands of International Importance, with a surface area of 689,131 hectares. The Nalsarovar Bird Sanctuary
        in Gujarat is the 26 th Ramsar site for India as on 24/09/2012 with an area of 12,000 ha and located at
        22°46'33”N 72°02'21”E coordinates is the Ramsar site no. 2078.</p>

    <p>Nalsarovar Bird Sanctuary, a natural freshwater lake (a relict sea) that is the largest natural wetland in the
        Thar Desert Biogeographic Province and represents a dynamic environment with salinity and depth varying
        depending on rainfall. The area is home to 210 species of birds, with an average 174,128 individuals recorded
        there during the winter and 50,000 in the summer.</p>

    <p>It is an important stopover site within the Central Asia Flyway, with globally threatened species such as the
        critically endangered Sociable Lapwing (Vanellus gregarious)and the vulnerable Marbled Teal (Marmaronetta
        angustirostris) stopping over at the site during migration, while the vulnerable Sarus Crane (Grus antigone)
        takes refuge there during summer when other water bodies are dry. The wetland is also a lifeline for satellite
        population of the endangered Indian Wild Ass (Equus hemionus khur) which uses this area in the dry season. Local
        communities heavily rely on the lake as it provides them with a source of drinking water and water for
        irrigation, as well as an important source of income from fishing for Catla fish (Catla catla) and Rohu (Labeo
        rohita). An average of 75,000 tourists visit the wetland annually.</p>

    <p class="right"><i><b><a href="/ecology"> - Ecology of Nalsarovar</a></b></i></p>
</template>