<template name="ApplicationLayout">
    <div class="container" id="main-contianer">
        <div class="slideshow">
            {{#for from=1 to=4 incr=1}}
                <img src="/images/backgrounds/{{value}}.jpg">
            {{/for}}
        </div>
        <div id="page">
            <div id="left-panel" class="panels">
                <h1 id="title">Nalsarovar</h1>
                <map id="controlImageMap" name="controlImageMap">
                    <area shape="rect" alt="home" title="" coords="36,1,107,39" href="/"/>
                    <area shape="rect" alt="map" title="" coords="1,29,35,96" href="/map"/>
                    <area shape="rect" alt="menu" title="" coords="101,40,136,108" href="/menu"/>
                    <area shape="rect" alt="anatomy" title="" coords="26,97,101,138" href="/anatomy"/>
                </map>
                <img src="/images/controls/nav-control.png" usemap="controlImageMap" id="nav-control">
                {{> yield "footer"}}
            </div>
            <div id="right-panel" class="panels">
                <div id="content">
                    {{> yield "content"}}
                </div>
                <div id="right-footer">
                    {{> yield "control-footer"}}
                    <img src="/images/controls/speech-bubble.png" id="trigger-content">
                </div>
            </div>
        </div>
	</div>
</template>