<template name="BirdFamily">
    {{#each data}}
        {{#if hasFamilyData}}
            <div id="{{id}}" class="bird-family">
                <h3>{{name}}</h3>
                {{#if characteristics}}
                    <ol type="a">
                        {{#each characteristics}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ol>
                {{/if}}
                {{#if hasBirdDetails}}
                    <h4>Birds</h4>
                {{/if}}
                {{#if birds}}
                    <ol type="a" class="birds">
                        {{#each birds}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ol>
                {{/if}}
                {{#if bird_details}}
                    {{bird_details}}
                {{/if}}
            </div>
        {{/if}}
    {{/each}}
</template>