<template name="BirdFamily">
    {{#with family_data}}
        {{#if hasFamilyData}}
            <div class="bird-family">
                <h3>{{name}}</h3>
                {{#if characteristics}}
                    <ol type="a">
                        {{#each characteristics}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ol>
                {{/if}}
                {{#with bird_details}}
                    <div>{{bird_details_head}}</div>
                    {{> paragraphs paras=bird_details_body}}
                {{/with}}
                <h4>Birds</h4>
                {{#if birds}}
                    <ol type="a" class="birds">
                        {{#each birds}}
                            <li>{{this}}</li>
                        {{/each}}
                    </ol>
                {{/if}}
            </div>
        {{/if}}
    {{/with}}
    {{#if previousFamily}}
        <a id="previous" class="left">(Previous) {{previousFamily}}</a>
    {{/if}}
    {{#if nextFamily}}
        <a id="next" class="right">{{nextFamily}} (Next)</a>
    {{/if}}
</template>