<template name="BirdFamily">
    <div id="grebes_podicipedidae" class="bird-family">
        <h3>Grebes Podicipedidae</h3>
        <ol type="a">
            <li>Aquatic bird</li>
            <li>Adapted for diving from the surface and swimming under water to catch fish and aquatic invertebrates</li>
            <li>Their strong legs are placed near the rear of their almost tailless body</li>
            <li>Their feet are lobed</li>
            <li>In flight they have elongated appearance</li>
            <li>Feed singly but may form congregation in non-breeding season</li>
        </ol>
        <h4>Birds</h4>
        <ol class="birds" type="a">
            <li>Little Grebe</li>
            <li>Black Necked Grebe</li>
            <li>Great Crested Grebe</li>
        </ol>
    </div>
    <br>
    <div id="whistling_ducks_swans_geese_and_ducks_anatidae" class="bird-family">
        <h3>Whistling  ducks, Swans, Geese, and Ducks Anatidae</h3>
        <ol type="a">
            <li>Aquatic</li>
            <li>Highly gregarious (living in flocks)</li>
            <li>Typically migrating, feeding, roosting, and resting together, often mixed flocks</li>
            <li>Mostly vegetarian</li>
            <li>Feeds on seeds, algae, plants, and roots, a few feed also on aquatic invertebrates</li>
            <li>Forge by diving, surface feeding, dabbling, and grazing</li>
            <li>They also sometimes wade, filter, and sieve water and debris for food and probe with the bill</li>
            <li>Direct flight with sustainable fast wing beats</li>
            <li>They fly in V- formation</li>
        </ol>
        <h4>Birds</h4>
        <ol class="birds" type="a">
            <li>Bar Headed Goose</li>
            <li>Tufted Duck</li>
            <li>Greylag Goose</li>
            <li>Common Teal</li>
            <li>Comb Duck</li>
        </ol>
    </div>
</template>